@model IEnumerable<PetStorePL.ViewModel.PetDetailsViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/bootstrap.css">
<section class="products">
    @foreach (var item in Model)
    {
        <div class="product-card">
            <div class="product-image">
                <img src="~/Images/@Url.Content(item.ImagePath)">
            </div>
            <div class="product-info">
                <h6>Pet Name:@Html.DisplayFor(modelItem => item.PetName)</h6>
                <h6>Age:@Html.DisplayFor(modelItem => item.Age)</h6>
                <h6>Breed Type:@Html.DisplayFor(modelItem => item.BreedType)</h6>
                <h6>Price:@Html.DisplayFor(modelItem => item.Price)</h6>
                <h6>Pet Type:@Html.DisplayFor(modelItem => item.PetType)</h6>
                <h6>Gender:@Html.DisplayFor(modelItem => item.Gender)</h6>
                <h6>@Html.ActionLink("Edit", "Find", new { petName = item.PetName, breedType = item.BreedType, operation = "Edit" }, new { @class = "btn btn-primary" })</h6>
                <div class="btn btn-default">
                    <h6>@Html.ActionLink("Delete", "Find", new { petName = item.PetName, breedType = item.BreedType, operation = "Delete" }, new { onclick = "return confirm('Are sure wants to delete?');" })</h6>
                </div>
            </div>
        </div>
    }
</section>




